.wrapper {
  background-color: rgba(2, 7, 25, 0.335);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 550px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 80px;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1230px;
  }
}
