.wrapper {
  background-color: rgba(2, 7, 25, 0.335);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  height: 80px;
}
