.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 2px #2f2727;
  background-color: #646581;

  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding: 20px;
    gap: 20px;
  }

  @media (min-width: 1200px) {
    width: 450px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;

  font-size: 16px;
  font-weight: 700;
  color: #fefeec;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.input {
  padding-left: 20px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}

.btn {
  margin-top: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 700;

  transition: transform 250ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.message {
  color: tomato;
}
